<!DOCTYPE html>
<html lang="en">
<!--vistas parciales-->
<%- include('./partials/head', {title: "Login" }) %> <%- include('./partials/header') %>
        <!--vistas parciales-->

        <body>
            <div class="form-container">
                <div class="login-container">
                    <main class="login">
                        <form class="form" action="/users/login" method="post">
                            <div>
                                <label for="email"> Email</label>

                                <input type="text" name="email" placeholder="Ingresá tu email" />

                                <% if (locals.errors && errors.email) { %>
                                    <div class="error-message">
                                        <%= errors.email.msg %>
                                    </div>

                                    <% } %>
                                    <span class="error"></span>
                            </div>
                            <div>
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" placeholder="Ingresá tu contraseña" />
                                <span class="error"></span>
                               <!--  <label for=""><input type="checkbox" name="recordarUsuario" />Recordar mi
                                    usuario
                                </label> -->
                            </div>
                            <a href="/users/register" style="color: aliceblue;">¿No tenés cuenta? ¡Registrate!</a>
                            <!-- <a href="/olvido-contrasena">¿Olvidaste tu contraseña?</a> -->
                            <!-- Enlace para restablecer la contraseña -->
                            <input type="submit" value="INICIAR SESIÓN" class="btn btn-warning" />
                        </form>
                    </main>
                </div>
            </div>
            <script src="/frontValidations/login.js"></script>
        </body>

</html>