<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estas seguro de querer borrar este producto: <%= product.name %></h1>
    <p>
        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <button type="submit" class="action-button delete">Eliminar producto</button>
        </form>
            <a  class="botonVolver" href="/products">Productos</a></p>
        </form>
    </p>
</body>
</html>