<footer>
    <p>Nuestras Redes Sociales</p>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-whatsapp"></i>
    <p>&copy; 2023 Pizza Rock. Todos los derechos reservados.</p>
</footer>