<header>
    <div class="logo">            
        <a href="/"><img src="/img/logo-pizzeria.jpg" alt="Pizza Rock Logo"></a>
    </div>
    <div class="header-buttons">
        <a class="login-button" href="/users/login">Login <i class="fas fa-sign-in-alt"></i></a>
        <a class="register-button" href="/users/register"> Register <i class="far fa-id-badge" style="color: #ffffff;"></i>
        <a class="cart-button" href="/products/productCart">Carrito <i class="fas fa-shopping-basket"></i></a> <!--Falta la página del carrito-->
    </div>        
</header>