<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Rock</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!--si no funciona cambiar por /public-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

    <header>
        <h1>Pizza Rock</h1>
        <div class="logo">            
            <a href="/"><img src="/static/img/logo-pizzeria.jpg" alt="Pizza Rock Logo"></a>
        </div>
        <div class="header-buttons">
            <a class="login-button" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
            <a class="register-button" href="/register">Register <i class="far fa-id-badge" style="color: #ffffff;"></i>
            <a class="cart-button" href="/productCart">Carrito <i class="fas fa-shopping-basket"></i></a> <!--Falta la página del carrito-->
        </div>        
    </header>

    <body>
        <div class="form-container">
            <div class="login-container">
                <main class="login">
                    <form action="/" method="POST">
                        <input type="text" name="user" placeholder="Nombre de usuario">
                        <input type="password" name="pass" placeholder="Elegí tu contraseña">
                        <a href="/olvido-contrasena">¿Olvidaste tu contraseña?</a> <!-- Enlace para restablecer la contraseña -->
                        <input type="submit" value="Enviar">
                    </form>
                </main>
            </div>
        </div>    
    </body>


</html>
