<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Producto</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!--si no funciona cambiar por /public-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Pizza Rock</h1>
        <div class="logo">            
            <a href="/"><img src="/static/img/logo-pizzeria.jpg" alt="Pizza Rock Logo"></a>
        </div>
    </header>
    <div class="subtitulo">
        <h2>Pizza Margherita</h2>
    </div>
    <div class="product-main">        
        <h4>Descripción</h4>
        <p>Una verdadera obra maestra de la cocina italiana que te transportará directamente a las calles de Nápoles. Esta pizza es la epítome de la simplicidad y la elegancia, y está cuidadosamente elaborada con ingredientes frescos y auténticos que capturan el auténtico sabor de Italia.</p>
        <h4>Ingredientes</h4>
        <br>
        <p>Masa Crujiente</p>
        <p>Salsa de Tomate Fresca</p>
        <p>Tomates Frescos en Rodajas</p>
        <br>
        <h4>Precio: $10</h4>
        <br>
        <div class="img-product">
            <img src="/static/img/img-prueba-1.jpg" alt="img-product-1">
        </div>
        <a class="product-add-to-cart-button" href="/productCart">Agregar al Carrito <i class="fas fa-shopping-basket"></i></a>        
    </div>                              
</body>
</html>