<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Rock</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!--si no funciona cambiar por /public-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Pizza Rock</h1>
        <div class="logo">            
            <a href="/"><img src="/static/img/logo-pizzeria.jpg" alt="Pizza Rock Logo"></a>
        </div>
        <div class="header-buttons">
            <a class="login-button" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
            <a class="register-button" href="/register">Register <i class="far fa-id-badge" style="color: #ffffff;"></i>
            <a class="cart-button" href="/cart">Carrito <i class="fas fa-shopping-basket"></i></a> <!--Falta la página del carrito-->
        </div>        
    </header>
<body>
    <div class="form-container">

    </div>
    <div class="register-container">
        <h2>Registro</h2>
        <form id="register-form">
            <label for="nombre">Nombre</label>
            <br>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <br>
            <label for="apellido">Apellido</label>
            <br>
            <input type="text" id="apellido" name="apellido" required>
            <br>
            <br>
            <label for="email">Correo Electrónico</label>
            <br>
            <input type="email" id="email" name="email" required>
            <br>
            <br>
            <label for="password">Contraseña</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <br>
            <label for="confirm-password">Confirmar Contraseña</label>
            <br>
            <input type="password" id="confirm-password" name="confirm-password" required>
            <br>
            <p id="password-match-error" class="error-message"></p>
            <button type="submit" id="register-button" class="yellow-button">Registrarse</button>
        </form>

</body>

</html>



